matplotlib
Box2D
pybullet
procgen
atari-py
mujoco-py<2.2,>=2.1
gym[atari, accept-rom-license]
git+git://github.com/karlxing/baselines.git@1832b67#egg=baselines
dm_control
git+git://github.com/denisyarats/dmc2gym.git